<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.acfun.comments.observer.web.backend.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.acfun.comments.observer.web.backend.entity.Comment">
        <id column="cid" property="cid" />
        <result column="aid" property="aid" />
        <result column="floor_number" property="floorNumber" />
        <result column="comment" property="comment" />
        <result column="is_del" property="isDel" />
        <result column="harm_info_report_cnt" property="harmInfoReportCnt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, aid, floor_number, comment, is_del, harm_info_report_cnt
    </sql>

</mapper>
