<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.acfun.comments.observer.web.backend.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.acfun.comments.observer.web.backend.entity.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="state" property="state" />
        <result column="avatar_img_url" property="avatarImgUrl" />
        <result column="password" property="password" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, state, avatar_img_url, password, deleted
    </sql>

</mapper>
